body {
  font-family: Arial, sans-serif;
  background-color: #f9f1f9;
  color: #333;
}

header {
  text-align: center;
  background-color: #f38ba8;  /* Rosado claro */
  color: white;
  padding: 20px;
}

#info-curso {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  color: white;
  border: none;
  width: 200px;
  text-align: left;
}

button.habilitado {
  background-color: #f38ba8;  /* Rosado claro */
}

button.deshabilitado {
  background-color: #d3d3d3;  /* Gris */
}

button.aprobado {
  background-color: #8e44ad;  /* Morado */
  text-decoration: line-through;
}

button:hover {
  background-color: #ff5c8d;  /* Rosado más oscuro */
}

.cursos h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
}
